version: '3.9'

services:
  frontend:
    image: node:18
    container_name: frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    env_file:
      - .env
    command: sh -c "yarn install && yarn dev"
    depends_on:
      - backend

  backend:
    image: node:18
    container_name: backend
    working_dir: /app
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - "4000:4000"
    env_file:
      - .env
    command: sh -c "yarn install && yarn start:dev"
    depends_on:
      - mongo
      - redis

  worker:
    image: node:18
    container_name: worker
    working_dir: /app
    volumes:
      - ./worker:/app
      - /app/node_modules
    env_file:
      - .env
    command: sh -c "yarn install && yarn start:worker"
    depends_on:
      - backend
      - mongo
      - redis

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  mongo-data:
  redis-data:
